In [48]:
import sqlite3
import datetime

In [49]:
con = sqlite3.connect("FOREX")

In [50]:
with open("schema.sql") as f:
    content = "".join(f.readlines())
    con.executescript(content)

In [45]:
cur = con.execute("SELECT * FROM sqlite_master WHERE type='table';")

In [46]:
cur.fetchall()

[('table',
  'FOREX',
  'FOREX',
  2,
  'CREATE TABLE FOREX (\ntimestmp INTEGER PRIMARY KEY NOT NULL,\nO1 REAL,\nH1 REAL,\nL1 REAL,\nC1 REAL,\n\nO2 REAL,\nH2 REAL,\nL2 REAL,\nC2 REAL,\n\nO3 REAL,\nH3 REAL,\nL3 REAL,\nC3 REAL,\n\nO4 REAL,\nH4 REAL,\nL4 REAL,\nC4 REAL,\n\nO5 REAL,\nH5 REAL,\nL5 REAL,\nC5 REAL,\n\nO6 REAL,\nH6 REAL,\nL6 REAL,\nC6 REAL,\n\nO7 REAL,\nH7 REAL,\nL7 REAL,\nC7 REAL,\n\nO8 REAL,\nH8 REAL,\nL8 REAL,\nC8 REAL,\n\nO9 REAL,\nH9 REAL,\nL9 REAL,\nC9 REAL,\n\nO10 REAL,\nH10 REAL,\nL10 REAL,\nC10 REAL,\n\nO11 REAL,\nH11 REAL,\nL11 REAL,\nC11 REAL,\n\nO12 REAL,\nH12 REAL,\nL12 REAL,\nC12 REAL\n)'),
 ('table',
  'FOREX_SPLIT',
  'FOREX_SPLIT',
  3,
  'CREATE TABLE FOREX_SPLIT (\ntimestmp INTEGER NOT NULL,\nPAIR TEXT NOT NULL,\nO REAL,\nH REAL,\nL REAL,\nC REAL,\nPRIMARY KEY (timestmp, PAIR)\n)')]

In [51]:
dt = datetime.datetime(2018,10,8,10,15)

In [52]:
dt.timestamp()

1538986500.0

In [54]:
con.execute("INSERT INTO FOREX_SPLIT (timestmp, pair, O, H, L, C) VALUES (?, ?, ?, ?, ?, ?)", (dt.timestamp(), "1", 3.3, 4.5, 6.5, 4.5))

In [55]:
cur = con.execute("SELECT * FROM FOREX_SPLIT;")

In [56]:
cur.fetchone()

(1538986500, '1', 3.3, 4.5, 6.5, 4.5)

In [36]:
con.execute("insert or replace INTO FOREX (timestmp, O2, H2, L2, C2) VALUES (?, ?, ?, ?, ?)", (dt.timestamp(), 3.3, 4.5, 6.5, 4.5))

In [40]:
cur.close()
con.close()